/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2937;
  scroll-behavior: smooth;
}

.heightFix,
.heightFixAdmin {
  min-height: calc(100vh - 150px);
  height: 100%;
}

.loader svg {
  width: 150px;
  height: 150px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}
.table_col_img {
  min-width: 40px;
}

.table_col {
  min-width: 120px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glassmorphism {
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.layout {
  min-width: 320px;
}
.sideBarMenu {
  min-width: 250px;
}

.layout .Toastify__progress-bar--default {
  background: #10b981;
  background: linear-gradient(#10b981, #065f46) !important;
}

@media only screen and (max-width: 780px) {
  .loader svg {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 780px) {
  .heightFix {
    min-height: calc(100vh - 200px);
    height: 100%;
  }
}
